.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  min-height: 100vh;
  padding: 1rem;
}
.skull {
  width: 250px;
  height: 250px;
  border-radius: 50% 1rem 50% 50%;
  background-color: rgb(0, 0, 0);
  margin-bottom: 3rem;
  background-image: url(./images/skull_0.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 400ms cubic-bezier(0.74, 0.32, 0.41, 0.88) all;
  -o-transition: 400ms cubic-bezier(0.74, 0.32, 0.41, 0.88) all;
  transition: 400ms cubic-bezier(0.74, 0.32, 0.41, 0.88) all;
  position: relative;
  overflow: hidden;
  border: none;
  font-size: 0;
}
.skull:focus {
  outline: none;
}
.skull:before {
  content: '';
  position: absolute;
  right: -50px;
  top: 0px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 50px solid rgba(255, 255, 255, 0.2);
}
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: solid 0.2rem rgba(255, 255, 255, 0.4);
}
.text__quila {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.text__email {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  text-decoration: none;
}