.container {
  display: flex;
  flex-flow: column;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  min-height: 100vh;
  padding: 1rem;
}
.skull {
  width: 250px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  background-image: url(./images/skull_0.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: 400ms cubic-bezier(0.74, 0.32, 0.41, 0.88) all;
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: solid 0.2rem rgba(255, 255, 255, 0.4);
}
.text__quila {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.text__email {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  text-decoration: none;
}