:root {
  --theme-bg: rgb(235, 235, 235);
  --theme-text: black;

  --theme-link: #00354e;
  --theme-link-hover: #3cbcf7;
}

body.dark-mode {
  --theme-bg: rgb(32, 30, 34);
  --theme-text: rgb(152, 152, 167);

  --theme-link: #81cbee;
  --theme-link-hover: #00354e;
}